<!DOCTYPE html>
<html>
<head>
<title>Collaborative Timelines</title>
<!-- Bootstrap -->
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
<script src="http://api.simile-widgets.org/timeline/2.3.1/timeline-api.js?bundle=true" type="text/javascript"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
</head>

<body>
<script type="text/javascript">
    var createForm = $("#new_timeline_form");
    var submit = $("#create_timeline");

    submit.onclick = function(){
        createForm.submit();
    }
</script>
  {% include "navbar.html" %}

  <p><br /></p>
 
    <div class="container">
    <div class="hero-unit">
      <h1>Timeline</h1>
      <p>Collaboratively create and curate timelines.</p>
      <p>
      <a href="#createTimeline" role="button" class="btn btn-primary btn-large" data-toggle="modal">Create a new timeline</a>
      </p>
      </div>

      <h3>Featured timelines</h3>

      <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
        {% for item in featured_timelines %}
        <tr> 
          <td><a href='timeline/{{item.id}}'>{{ item.title }}</a></td>
          <td>{{ item.description }}</td>
        </tr>
      {% endfor %}
      </table>

      </div>    
      {% include "homepage/new.html" %}
      </body>
</html>