.default-timeline {
	height: 350px; 
	border: 2px solid #aaa;
}

.tag-box-small {
	height: auto;
	width: auto;
	overflow: auto;
	border-color: #F5F5F5;
	border-width: 1px;
	border-style: solid;
	float = right;}

.tag-box {
	height: 100px;
	width: auto;
	overflow: auto;
	border-color: #F5F5F5;
	border-width: 1px;
	border-style: solid;
	float = right;
}

.to-right {
	text-align: right;
}

.tag {
	border-width: 0px;
	margin: 6px;
}

.existing-tag {

}

.tmp-existing-tag {

}

.selected-existing-tag {

}

.tmp-tag {

}

.small-popup-text {
	font-size: 8px;
}

.filter-box {
	background-color: #EEE;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

.small-close {
	font-size: 15px;
	position: relative;
	top: -10px;
}

.tag-checkbox {
	
}