<!DOCTYPE html>
<html>
<head>
  <title>{{ timeline.title }}</title>

  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/timeline-detail.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.9.2.custom.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.tagit.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/chosen.css" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js" charset="utf-8"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/tag-it.js" charset="utf-8"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/timelineHelper.js"></script>
  <script src="{{ STATIC_URL }}timeline_simile/src/webapp/api/timeline-api.js?bundle=false" type="text/javascript"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/timelineDetail.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/popupBubble.js"></script>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
  <p><br /></p>
  <div class="container">
    <div class="hero-unit">
      <h1>{{ timeline.title }}</h1>
      <p>{{ timeline.description }}<p>
      </div>

      {% include "timeline/filter.html" %}

      <div id="timeline" class="default-timeline"></div>
      <noscript>
        This page uses Javascript to show you a Timeline. Please enable Javascript in your browser to see the full page. Thank you.
      </noscript>

      <br />
      <div class="pull-right">
        <!-- Button to trigger modal -->
        <a id="newEventBtn" href="#newEvent" role="button" class="btn btn-primary discardEventModal" data-toggle="modal">New event</a>
      </div>

      {% include "timeline/newEvent.html" %}

        <p><br /><br /></p>

      </body>

      </html>
